p{
    background-color: moccasin;
    border: 3px solid silver;
}
.first, .second{
    background-color: crimson;
    border: 3px solid gray;
}
.one{
    background-attachment:indigo;
    border: 9px solid aqua;
}
#one, #two{
    background-color: green
    ;
    border: 5px solid pink
    ;
}
p:first-child{
    color: red;
}
p:last-child{
    color: orange;
}
p:nth-child(3)
{
    color: pink;
}
p::before{
    content: "Display" ;
}
p::after{
    content: "Animations";
}