.main{
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 3px solid red;
    
    animation-name: name;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation: name 5s ease 2 alternate;
}
@keyframes name {
        0%{
            background-color:black;
            transform: translate(0,100px);
        }
        25%{
            background-color:blue;
            transform: translate(100px,0px);
        }
        50%{
            background-color:red;
            transform: translate(100px,100px);
        }
        75%{
            background-color:green;
            transform: translate(0px,100px);
        }
        100%{
            background-color:white;
            border: 2px solid black;
            transform: translate(0px,0px);
        }
    }
    /*display: block;
    margin: auto;
    margin-top: 150px;

    transform: translateX(-250px);
    transform: translateY(250px);
    transform: translate(-250px,250px);
    transform: scaleX(5);
    transform: scaleY(5);
    transform: scale(5,5);
    transform: rotate(65deg);

    transform: skewX(15deg);
    transform: skewY(45deg);
    
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    transition: all 5s ease 1s;
    */

/*
.main:hover{
    background-color: teal;
    border: 3px solid silver;
    transform: scale(2,2);
}*/